<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Пианино</title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
  <link rel='stylesheet prefetch'
    href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div id="app">

    <div class="audioplayer" v-for="s in sounddata">
      <audio v-bind:data-num="s.number">
        <source v-bind:src="s.url" />
      </audio>
    </div>
    <div class="centerBox">

      <h2>Hi, Godel Technologies Europe:)</h2>
      <div>
        <img v-on:click="sample()" v-bind:src="master" alt="">
        <p>CLICK ON ME</p>
      </div>


      <br />
      <div class="keyboard">
        <div class="pianokey" v-for="s in displayKeys">
          <div class="white" v-if="s.type == 'white'" v-on:click="addnote(s.num)"
            v-bind:class="getCurrentHighlight(s.num, s.key) ? 'playing' : ''">
            <div class="label">{{ String.fromCharCode(s.key) }}</div>
          </div>
          <div class="black" v-if="s.type == 'black'" v-on:click="addnote(s.num)"
            v-bind:class="getCurrentHighlight(s.num, s.key) ? 'playing' : ''">
            <div class="label">{{ String.fromCharCode(s.key) }}</div>
          </div>
        </div>
      </div><br />


    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/index.js"></script>
</body>

</html>